* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.Container>h1 {
    width: 50%;
    display: flex;
    justify-content: center;
    color: rgb(51, 51, 51);
    font-family: "Oi";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.containerGlobal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.noProducts{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* style.module.css */

.noProductsMessage {
    color:rgb(51, 51,51);
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
  


.containerProducts {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardProduct {
    width: 90%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.cardProduct>img {
    width: 18.706rem;
    height: 18.706rem;
    border-radius: 15px;

}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    background: white;
    padding: 15px;
    gap: 20px;
}


.description>p {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    color: #406126;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;


}

.description>h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    text-decoration:bold;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.description .descricaoText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    
}


.description>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:17%;
    padding: 10px;
    border-radius: 50px;
    background: #F2F2F2;
    border: none;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
    cursor: pointer;
    
    font-size: 17px;
}

.description>button>svg {

    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: rgb(51, 51, 51);
}



.description>button:hover {
    background: #bebebe;
}



.descriptionFarm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.farm {

    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    font-size: 13px;
    padding: 10px;
}

.error{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.greenLoading {
    background-color: white;
    /* Define a cor verde para o círculo de carregamento */
    border: 4px solid #f3f3f3;
    /* Cria o círculo com uma borda cinza */
    border-top: 4px solid #34db74;
    /* Adiciona a cor de animação no topo */
    border-radius: 50%;
    /* Torna o elemento circular */
    width: 100px;
    /* Define a largura do círculo */
    height: 100px;
    /* Define a altura do círculo */
    animation: spin 2s linear infinite;
    /* Aplica a animação de rotação */
}

.loadingContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}