@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oi&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.footer{
    width: 100%;
    padding: 20px;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: #333;

    background-color: white;
    border-top: 1px solid #D6D8DE;
    border-bottom: 1px solid #D6D8DE;

}

.logo{
    width: 20%;
    height: 100%;
    
}

.logo > h1{
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: left;
    color: #333;
    font-family: "Oi";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
}
.Followus{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.Followus > h1{
    width: 30%;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.icons{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.icons> a{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.icons> a > img{
   width: 100px;
    height: 100px;
    margin-top: 28px;
  
}

/* midia pra celular */

@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo > h1{
        width: 100%;
        font-size: 30px;
        color: #333;
        display: flex;
        justify-content: center;
    }
    .Followus{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Followus > h1{
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        color: #333;
    }
    .icons{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .icons> a{
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .icons> a > img{
        width: 100px;
        height: 100px;
    }
}